<!DOCTYPE html>
<html>
  <head>
    <title>Twitch.tv Clone</title>
    <link href="../../assets/images/favicon.ico" rel="icon" type="image/x-icon" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
